<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-sm-12" style="padding:0px;">
      <ul>
        <li>
          <a (click)="newProjectClick()">Create Project</a>
        </li>
        <li>
          <a (click)="newProjectEventClick()">Create Activity</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row" style="margin-top:20px;">
    <!--<div class="col-md-12" #abc>-->
      <div class="col-md-12">
      <md-input-container style="width: 100%;">
        <!--<input mdInput placeholder="" [mdAutocomplete]="auto" [formControl]="stateCtrl" [(ngModel)]="state" (ngModelChange)="onChange($event)" class="textbox">-->
        <input mdInput placeholder="Search Projects" [mdAutocomplete]="auto" [formControl]="projectCtrl" [(ngModel)]="project" (ngModelChange)="onChange($event)">
      </md-input-container>
      <md-autocomplete #auto="mdAutocomplete">
        <md-option *ngFor="let project of filteredProjects | async" [value]="project">
          {{ project }}
        </md-option>
      </md-autocomplete>
    </div>
  </div>
</div>
